## DATA ANALYSIS CAPESTONE

### Importing Libraries

In [31]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Importing Data & Inspecting Data

In [32]:
startups = pd.read_excel(r"C:\Users\Lenovo\Downloads\retail_dataset.xlsx")
startups

,Store ID,City,State,Sales Region,New Expansion,Marketing Spend,Revenue
0,1,Chicago,IL,Region 2,Old,3076,43175
1,2,Houston,TX,Region 1,Old,2842,44660
2,3,Phoenix,AZ,Region 1,Old,3131,28784
3,4,Houston,TX,Region 1,Old,3453,42893
4,5,New York,NY,Region 2,Old,2807,43834
...,...,...,...,...,...,...,...
145,146,Dallas,TX,Region 2,Old,3181,28585
146,147,Seattle,WA,Region 2,Old,2438,53214
147,148,San Antonio,TX,Region 2,Old,2407,44054
148,149,Dallas,TX,Region 2,Old,3085,51873
149,150,New York,NY,Region 2,Old,3002,49039

In [33]:
startups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Store ID         150 non-null    int64
 1   City             150 non-null    object
 2   State            150 non-null    object
 3   Sales Region     150 non-null    object
 4   New Expansion    150 non-null    object
 5   Marketing Spend  150 non-null    int64
 6   Revenue          150 non-null    int64
dtypes: int64(3), object(4)
memory usage: 8.3+ KB

In [34]:
startups[['Marketing Spend','Revenue']].describe().round(2)

       Marketing Spend   Revenue
count           150.00    150.00
mean           2862.83  40319.74
std             346.65  14082.90
min            1929.00  15562.00
25%            2647.00  28634.75
50%            2873.50  41501.00
75%            3073.75  49744.50
max            3799.00  68828.00

### Preprocessing Data

In [35]:
startups['City'].nunique()

15

In [36]:
startups['City'].value_counts()

City
Phoenix         15
Dallas          14
San Jose        13
Los Angeles     13
Miami           13
New York        12
Austin          12
Chicago         10
Houston         10
Seattle          8
Philadelphia     8
Boston           8
San Diego        6
San Antonio      5
Denver           3
Name: count, dtype: int64

In [37]:
startups['State'].value_counts()

State
TX    41
CA    32
AZ    15
FL    13
NY    12
IL    10
WA     8
PA     8
MA     8
CO     3
Name: count, dtype: int64

In [38]:
startups['State'].nunique()

10

In [39]:
startups['Sales Region'].unique()

array(['Region 2', 'Region 1'], dtype=object)

In [40]:
startups['Sales Region'].value_counts()

Sales Region
Region 2    86
Region 1    64
Name: count, dtype: int64

In [41]:
startups['New Expansion'].unique()

array(['Old', 'New'], dtype=object)

In [42]:
startups['New Expansion'].value_counts()

New Expansion
Old    140
New     10
Name: count, dtype: int64

In [44]:
startups.isna().sum()

Store ID           0
City               0
State              0
Sales Region       0
New Expansion      0
Marketing Spend    0
Revenue            0
dtype: int64

In [43]:
startups.duplicated().sum()

np.int64(0)

### Exploring & Analysing Data

In [45]:
startups.sample(10)

,Store ID,City,State,Sales Region,New Expansion,Marketing Spend,Revenue
9,10,Seattle,WA,Region 2,Old,3093,49456
27,28,Los Angeles,CA,Region 2,Old,3031,61781
105,106,Phoenix,AZ,Region 2,Old,3042,31812
58,59,Austin,TX,Region 2,Old,3015,47267
109,110,Seattle,WA,Region 2,Old,2866,51282
36,37,San Jose,CA,Region 1,Old,2970,46620
39,40,San Jose,CA,Region 2,Old,2966,15873
140,141,Austin,TX,Region 1,Old,2977,36083
92,93,Denver,CO,Region 2,Old,2635,47111
69,70,San Jose,CA,Region 2,Old,2656,40568

In [51]:
startups[startups['New Expansion'] == 'Old'].groupby('City').sum()['Revenue'].nlargest(10)

City
Los Angeles    547390
Dallas         542978
Phoenix        519437
Austin         496607
Miami          445211
Seattle        439557
San Jose       438178
New York       384574
Houston        339671
Chicago        324813
Name: Revenue, dtype: int64

In [50]:
startups[startups['New Expansion'] == 'New'].groupby('City').sum()['Revenue'].nlargest(10)

City
Phoenix        109030
Miami           74648
Austin          47248
Chicago         40296
Los Angeles     38109
New York        36954
Houston         32496
Boston          20158
Name: Revenue, dtype: int64

In [64]:
startups['ROI']= round( (startups['Revenue'] / startups['Marketing Spend']) * 100,2 )
startups['Profit'] = startups['Revenue'] - startups['Marketing Spend']

In [65]:
startups['ROMS']= round( (startups['Profit'] / startups['Marketing Spend']) * 100,2 )
startups['ROMS%'] = startups['ROMS'] / 100
startups

,Store ID,City,State,Sales Region,New Expansion,Marketing Spend,Revenue,ROI,Profit,ROMS,ROMS%
0,1,Chicago,IL,Region 2,Old,3076,43175,1403.61,40099,1303.61,13.0361
1,2,Houston,TX,Region 1,Old,2842,44660,1571.43,41818,1471.43,14.7143
2,3,Phoenix,AZ,Region 1,Old,3131,28784,919.32,25653,819.32,8.1932
3,4,Houston,TX,Region 1,Old,3453,42893,1242.20,39440,1142.20,11.4220
4,5,New York,NY,Region 2,Old,2807,43834,1561.60,41027,1461.60,14.6160
...,...,...,...,...,...,...,...,...,...,...,...
145,146,Dallas,TX,Region 2,Old,3181,28585,898.62,25404,798.62,7.9862
146,147,Seattle,WA,Region 2,Old,2438,53214,2182.69,50776,2082.69,20.8269
147,148,San Antonio,TX,Region 2,Old,2407,44054,1830.25,41647,1730.25,17.3025
148,149,Dallas,TX,Region 2,Old,3085,51873,1681.46,48788,1581.46,15.8146
149,150,New York,NY,Region 2,Old,3002,49039,1633.54,46037,1533.54,15.3354

In [66]:
startups.to_csv('retail_dataset_modified.csv')